{{ $server := .Values.server }}
{{ $repoUrl := .Values.repoUrl }}
{{ $namespace := .Values.namespace }}
{{ $project := .Values.project }}
{{ $namespaceArgo := .Values.namespaceArgo }}
{{- range $name, $value := .Values.applications }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $name }}
  namespace: {{ $namespaceArgo | default "argo" }}
  finalizers:
    # The default behaviour is foreground cascading deletion
    - resources-finalizer.argocd.argoproj.io
  annotations:
    {{- with $value.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  destination:
    namespace: {{ $value.namespace | default $namespace }}
    {{- if not ($value.destName) }}
    server: {{ $value.server | default $server }}
    {{- end }}
    {{- if $value.destName }}
    name: {{ $value.destName }}
    {{- end }}
  project: {{ $value.project | default $project }}
  {{- if $value.sources }}
  sources:
    {{ $value.sources | toYaml | nindent 4}}
  {{- end }}
  {{- if $value.source }}
  source:
    {{- if not $value.valueFiles }}
    directory:
      recurse: true
      jsonnet: {}
    {{- end }}
    {{- if $value.valueFiles }}
    helm:
      valueFiles:
        {{- range $file := $value.valueFiles }}
        - {{ $file }}
        {{- end }}
    {{- end }}
    path: {{ $value.path }}
    repoURL: {{ $value.repoUrl | default $repoUrl }}
    targetRevision: {{ $value.targetRevision }}
  {{- end }}
  syncPolicy:
    {{- if and $value.sync (hasKey $value.sync "auto") (get $value.sync "auto") }}
    automated:
      prune: {{ ternary (get $value.sync "prune") true (hasKey $value.sync "prune") }}
      selfHeal: {{ ternary (get $value.sync "selfHeal") true (hasKey $value.sync "selfHeal") }}
    {{- end }}
    syncOptions:
      - FailOnSharedResource={{ $value.failOnSharedResource | default true }}
      - CreateNamespace={{ $value.createNamespace | default false }}
      - ServerSideApply={{ $value.serverSideApply | default false }}
  {{- if ($value.ignoreDifferences) }}
  ignoreDifferences:
    {{- toYaml $value.ignoreDifferences | nindent 4 }}
  {{- end }}
{{- end }}
